<!-- About -->

<section class="about">
  <div class="container">
    <h2 class="about__title section-title" id="about-us">ABOUT</h2>
    <div class="about__block">
      <p class="about__text">
        We are a minimalistic flower studio. We love people and flowers.
        Therefore, every day we give people the beauty and joy creating stylish
        and modern masterpieces. Every bouquet we create is unique as you are.
      </p>
      <img
        class="about__img"
        srcset="
          ./images/about/image_aboutmob@1x.jpg   288w,
          ./images/about/image_aboutmob@2x.jpg   576w,
          ./images/about/image_abouttab@1x.jpg   344w,
          ./images/about/image_abouttab@2x.jpg   688w,
          ./images/about/image_aboutdesk@1x.jpg  632w,
          ./images/about/image_aboutdesk@2x.jpg 1264w
        "
        sizes="(min-width: 1280px) 632px, (min-width: 768px) 344px, (min-width: 480px) 288px, 100vw"
        src="./images/about/image_aboutdesk@1x.jpg"
        alt="Flower"
      />
    </div>
  </div>
</section>
