<section class="blog">
  <h2 id="blog" class="section-title blog__title container">Blog</h2>
  <div class="container blog__container">
    <div class="blog__gallery">
      <div class="blog__gallery-inner blog-swiper">
        <ul class="swiper-wrapper">
          <li class="blog__slide swiper-slide"></li>
          <li class="blog__slide swiper-slide">
            <img
              class="blog__slider-image"
              srcset="
                ./images/blog/blog-image-mobile-1@1x.jpg  153w,
                ./images/blog/blog-image-mobile-1@2x.jpg  306w,
                ./images/blog/blog-image-desktop-1@1x.jpg 390w,
                ./images/blog/blog-image-desktop-1@2x.jpg 780w
              "
              sizes="(min-width: 1200px) 390px, (min-width: 768px) 390px, 247px"
              src="./images/blog/blog-image-desktop-1@1x.jpg"
              alt="flowers and plants"
            />
          </li>
          <li class="blog__slide swiper-slide">
            <img
              class="blog__slider-image"
              srcset="
                ./images/blog/blog-image-mobile-2@1x.jpg  153w,
                ./images/blog/blog-image-mobile-2@2x.jpg  306w,
                ./images/blog/blog-image-desktop-2@1x.jpg 390w,
                ./images/blog/blog-image-desktop-2@2x.jpg 780w
              "
              sizes="(min-width: 1200px) 390px, (min-width: 768px) 390px, 247px"
              src="./images/blog/blog-image-desktop-2@1x.jpg"
              alt="flowers and plants"
            />
          </li>
          <li class="blog__slide swiper-slide">
            <img
              class="blog__slider-image"
              srcset="
                ./images/blog/blog-image-mobile-3@1x.jpg  153w,
                ./images/blog/blog-image-mobile-3@2x.jpg  306w,
                ./images/blog/blog-image-desktop-3@1x.jpg 390w,
                ./images/blog/blog-image-desktop-3@2x.jpg 780w
              "
              sizes="(min-width: 1200px) 390px, (min-width: 768px) 390px, 247px"
              src="./images/blog/blog-image-desktop-3@1x.jpg"
              alt="flowers and plants"
            />
          </li>
          <li class="blog__slide swiper-slide">
            <img
              class="blog__slider-image"
              srcset="
                ./images/blog/blog-image-mobile-4@1x.jpg  153w,
                ./images/blog/blog-image-mobile-4@2x.jpg  306w,
                ./images/blog/blog-image-desktop-4@1x.jpg 390w,
                ./images/blog/blog-image-desktop-4@2x.jpg 780w
              "
              sizes="(min-width: 1200px) 390px, (min-width: 768px) 390px, 247px"
              src="./images/blog/blog-image-desktop-4@1x.jpg"
              alt="flowers and plants"
            />
          </li>
          <li class="blog__slide swiper-slide">
            <img
              class="blog__slider-image"
              srcset="
                ./images/blog/blog-image-mobile-5@1x.jpg  153w,
                ./images/blog/blog-image-mobile-5@2x.jpg  306w,
                ./images/blog/blog-image-desktop-5@1x.jpg 390w,
                ./images/blog/blog-image-desktop-5@2x.jpg 780w
              "
              sizes="(min-width: 1200px) 390px, (min-width: 768px) 390px, 247px"
              src="./images/blog/blog-image-desktop-5@1x.jpg"
              alt="flowers and plants"
            />
          </li>
          <li class="blog__slide swiper-slide">
            <img
              class="blog__slider-image"
              srcset="
                ./images/blog/blog-image-mobile-6@1x.jpg  153w,
                ./images/blog/blog-image-mobile-6@2x.jpg  306w,
                ./images/blog/blog-image-desktop-6@1x.jpg 390w,
                ./images/blog/blog-image-desktop-6@2x.jpg 780w
              "
              sizes="(min-width: 1200px) 390px, (min-width: 768px) 390px, 247px"
              src="./images/blog/blog-image-desktop-6@1x.jpg"
              alt="flowers and plants"
            />
          </li>
          <li class="blog__slide swiper-slide"></li>
        </ul>
      </div>
      <div class="blog__button-slider blog__button-prev">
        <svg class="blog__button-prev-black" width="97" height="64">
          <use href="./images/icon/icon.svg#icon-slider-prev-black"></use>
        </svg>
        <svg class="blog__button-prev-white" width="97" height="64">
          <use href="./images/icon/icon.svg#icon-slider-prev-white"></use>
        </svg>
      </div>
      <div class="blog__button-slider blog__button-next">
        <svg class="blog__button-next-black" width="97" height="64">
          <use href="./images/icon/icon.svg#icon-slider-next-black"></use>
        </svg>
        <svg class="blog__button-next-white" width="97" height="64">
          <use href="./images/icon/icon.svg#icon-slider-next-white"></use>
        </svg>
      </div>
    </div>
    <div class="blog_text-and-button container">
      <p class="blog__text">Follow to our newsletter</p>
      <button data-modal-open-1 type="button" class="main-button">
        Subscribe
      </button>
    </div>
  </div>
</section>
