<footer class="footer">
  <section class="container footer--container">
    <h2 class="section-title visually-hidden">Anemone</h2>
    <div class="footer__logo">
      <a
        class="footer__logo-link"
        href=""
        target="_blank"
        rel="noopener noreferrer"
        aria-label=""
      >
        <svg class="footer__logo-icon" width="73" height="57">
          <use href="./images/icon/icon.svg#icon-Logo"></use>
        </svg>
      </a>
    </div>
    <div class="footer-nav footer__block">
      <h3 class="footer__title">Navigation</h3>
      <ul class="footer-nav__list">
        <li class="footer-nav__item">
          <a class="footer-nav__link current" data-nav-link="anemone"
            >Anemone</a
          >
        </li>
        <li class="footer-nav__item">
          <a class="footer-nav__link" data-nav-link="about-us">About us</a>
        </li>
        <li class="footer-nav__item">
          <a class="footer-nav__link" data-nav-link="store">Store</a>
        </li>
        <li class="footer-nav__item">
          <a class="footer-nav__link" data-nav-link="delivery">Delivery</a>
        </li>
      </ul>
    </div>
    <div class="footer__opening footer__block">
      <h3 class="footer__title">Opening times</h3>
      <p class="footer__opening-text">
        Every day<br />
        9:00 - 22:00
      </p>
    </div>
    <div class="footer__contact footer__block">
      <h3 class="footer__title">Contacts</h3>
      <address>
        <ul class="footer__contact-list">
          <li class="footer__contact-item">
            <a href="tel:+380631234567" class="contact-footer tel"
              >+38 063 123 45 67</a
            >
          </li>
          <li class="footer__contact-item">
            <a href="mailto:anemonestudio@example.comm" class="contact-footer"
              >anemonestudio<span class="contact-span"><br /></span
              >@example.com</a
            >
          </li>
          <li class="footer__contact-item">
            <a
              href="https://goo.gl/maps/1rzjMV9uXXLraPzr6"
              target="_blank"
              rel="noopener noreferrer"
              class="footer__contact-address"
            >
              Reitarska Street,&nbsp;1<br />Kyiv, Ukraine</a
            >
          </li>
        </ul>
      </address>
    </div>
    <div class="footer__icons footer__block">
      <ul class="social__list">
        <li class="social__item">
          <a
            class="social__link"
            href="https://www.facebook.com/"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="facebook"
          >
            <svg class="social__icon" width="28" height="28">
              <use href="./images/icon/icon.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a
            class="social__link"
            href="https://www.instagram.com/"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="instagram"
          >
            <svg class="social__icon" width="28" height="28">
              <use href="./images/icon/icon.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </section>
</footer>
