<section class="store">
  <div class="container">
    <h2 class="section-title blog__title" id="store">STORE</h2>
    <ul class="store-list">
      <li class="store-list__item">
        <img
          class="store-img"
          srcset="
            ./images/store/bouquet3_1_136.jpg   136w,
            ./images/store/bouquet3_1_272.jpg   272w,
            ./images/store/bouquet3_1_344.jpg   344w,
            ./images/store/bouquet3_1_600.jpg   600w,
            ./images/store/bouquet3_1_688.jpg   688w,
            ./images/store/bouquet3_1_1200.jpg 1200w
          "
          sizes="(min-width: 1200px) 600px, (min-width: 768px) 344px, (min-width: 480px) 136px, 100vw"
          src="./images/store/bouquet3_1_136.jpg"
          alt="bouquet3"
          width="600"
          height="155"
        />
        <h3 class="store-list__title">compliments</h3>
        <p class="store-list__text">from $15</p>
      </li>
      <li class="store-list__item">
        <img
          class="store-img"
          srcset="
            ./images/store/bouquet1_2_136.jpg   136w,
            ./images/store/bouquet1_2_272.jpg   272w,
            ./images/store/bouquet1_2_344.jpg   344w,
            ./images/store/bouquet1_2_600.jpg   600w,
            ./images/store/bouquet1_2_688.jpg   688w,
            ./images/store/bouquet1_2_1200.jpg 1200w
          "
          sizes="(min-width: 1200px) 600px, (min-width: 768px) 344px, (min-width: 480px) 136px, 100vw"
          src="./images/store/bouquet1_2_136.jpg"
          alt="bouquet1"
          width="600"
          height="155"
        />
        <h3 class="store-list__title">bouquets size S</h3>
        <p class="store-list__text">from $25</p>
      </li>
      <li class="store-list__item">
        <img
          class="store-img"
          srcset="
            ./images/store/bouquet2_3_136.jpg   136w,
            ./images/store/bouquet2_3_272.jpg   272w,
            ./images/store/bouquet2_3_344.jpg   344w,
            ./images/store/bouquet2_3_600.jpg   600w,
            ./images/store/bouquet2_3_688.jpg   688w,
            ./images/store/bouquet2_3_1200.jpg 1200w
          "
          sizes="(min-width: 1200px) 600px, (min-width: 768px) 344px, (min-width: 480px) 136px, 100vw"
          src="./images/store/bouquet2_3_136.jpg"
          alt="bouquet2"
          width="600"
          height="155"
        />
        <h3 class="store-list__title">bouquets size M</h3>
        <p class="store-list__text">from $45</p>
      </li>
      <li class="store-list__item">
        <img
          class="store-img"
          srcset="
            ./images/store/bouquet4_4_136.jpg   136w,
            ./images/store/bouquet4_4_272.jpg   272w,
            ./images/store/bouquet4_4_344.jpg   344w,
            ./images/store/bouquet4_4_600.jpg   600w,
            ./images/store/bouquet4_4_688.jpg   688w,
            ./images/store/bouquet4_4_1200.jpg 1200w
          "
          sizes="(min-width: 1200px) 600px, (min-width: 768px) 344px, (min-width: 480px) 136px, 100vw"
          src="./images/store/bouquet4_4_136.jpg"
          alt="bouquet4"
          width="600"
          height="155"
        />
        <h3 class="store-list__title">bouquets size L</h3>
        <p class="store-list__text">from $60</p>
      </li>
    </ul>
    <button data-modal-open type="button" class="main-button">
      Order flowers
    </button>
  </div>
</section>
