.modal-button {
  display: block;
  width: 100%;
  color: $secondary-color;
  padding: 10px;
  font-size: 14px;
  background-color: $brand-color;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color $animation-duration $transition-timing-function;

  @media screen and (min-width: $tablet) {
    padding: 14px;
    font-size: 18px;
  }

  &:hover {
    background-color: $hover-color;
  }

  &:focus {
    background-color: $focus-color;
  }

  &-diabled {
    opacity: 0.4;
    cursor: default;
  }
}
